{
    "datacenter": "robcloud",
    "server": {{ consul_server }},
    "client_addr": "0.0.0.0",
    "bind_addr": "{{ my_ip }}",
    "ui": {{ consul_server }},
{% if consul_server == 'true' %}
    "bootstrap": {{ consul_server }},
    "bootstrap_expect": 1,
{% else %}
    "retry_join": {{ consul_server_ips | replace('\'','"') }},
{% endif %}
    "log_level": "INFO"
}