global:
  scrape_interval: 5s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['{{ ansible_host }}:9090']

{% if node_exporter %}
  - job_name: 'node_exporter'
    static_configs:
    {% for host in groups['robcloud'] %}
      - targets: ['{{ host }}:9100']
    {% endfor %}
{% endif %}
